# controlflow statements:

loops:
something which keeps on performing the repeatative process untill we stop it we call them as loop.

There are two types of loops:
1.for loop
2.while loop

# we can perform loops only on iterative datatypes:
what are the iterative datatypes:
non primitive data types including string.

In [57]:
list_1=[19,22,34,56,778]

for i in list_1:
    print(i,end=",")

19,22,34,56,778,

In [9]:
str_2="apple",233,"bat"

for i in str_2:
    print(i)

apple
233
bat

In [19]:
set_3={"iphone",34,"bikes",45,67,"cars"}

for i in set_3:
    print(i)

34
67
iphone
bikes
cars
45

In [13]:
list_str=["apple","banana","cat","mouse"]
set_ans=set()
for i in list_str:
    set_ans.add(i[-1])
print (set_ans)

{'a', 'e', 't'}

In [19]:
list_str=["apple","banana","cat","mouse"]
dict_1={}

for i in list_str:
    dict_1[i]=i[-1]
print(dict_1)

{'apple': 'e', 'banana': 'a', 'cat': 't', 'mouse': 'e'}

In [23]:
list_str=["apple","banana","cat","mouse"]
list_ans=[]
for i in list_str:
    list_ans.append(i[-1])
print(list_ans)

['e', 'a', 't', 'e']

In [29]:
dict_2={"val_1":12,"val_2":23,"val_3":78}
list_sqr=[]
for i in dict_2.values():
    list_sqr.append(i**2)
print(list_sqr)

[144, 529, 6084]

In [37]:
str_in=input("enter the string")
for i in str_in[::-1]:
    print(i)

enter the string apple

e
l
p
p
a

In [39]:
#write a python program that accepts a string and calculate the number of digit in it.
count=0
string="12344524@megha"
for i in string:
    if i.isdigit()==True:
        count+=1
print(count)

8

In [77]:
# write  a program to print the number of days for the month entered by user.
months_30_days=["april","june","september","november"]

month_31_days=["january","march","may","july","august","october","december"]

month=input("enter the name of the month:").lower()

if month in months_30_days:
    print(f"{month.capitalize()} has 30 days")
    
elif month == "february":
    print(f"{month.capitalize()} has either 28 days or 29 days")
    
elif month in month_31_days:
    print(f"{month.capitalize()} has 31 days")
else:
    print(f"{month.capitalize()} is not a valid month")

enter the name of the month: may

May has 31 days

In [75]:
# List of months with 30 and 31 days
months_30_days = ["april", "june", "september", "november"]
month_31_days = ["january", "march", "may", "july", "august", "october", "december"]

# Prompt user for the month
month = input("Enter the name of the month:").lower()  # Convert input to lowercase for consistency

# Check the number of days in the month
if month in months_30_days:
    print(f"{month.capitalize()} has 30 days")
elif month == "february":
    print(f"{month.capitalize()} has either 28 days or 29 days")
elif month in month_31_days:
    print(f"{month.capitalize()} has 31 days")
else:
    print(f"{month.capitalize()} is not a valid month")

Enter the name of the month: may

May has 31 days

In [89]:
dict1={('january','march','may','july','august','october','december'):31, ('febuary','april','june','september','november'):30}
mon=input('enter the name of the month:').lower()
if mon in dict1.keys():
    if dict1[mon] ==31:
        print('31 days')
    else:
        print('30 days')
else:
    print('not valid month')

enter the name of the month: november

not valid month

In [29]:
set_3={"iphone",34,"bikes",45,67,"cars"}
i=frozenset(set_3)
for item in set_3:
    print(item)

34
67
iphone
bikes
cars
45

In [7]:
set_3={"iphone",34,"bikes",45,67,"cars"}
ordered_list= ["iphone",34,"bikes",45,67,"cars"]
for i in ordered_list:
    print(i, end=", ")

iphone, 34, bikes, 45, 67, cars,

In [33]:
dict_1={"name":"prudvi","age":20,"hobby":"cricket"}
for i in dict_1:
    print(i)

name
age
hobby

In [59]:
dict_1={"area":"madhurawada","duration":"20 days","quantity":30}
for i in dict_1.items():
    print(i,end=",")

('area', 'madhurawada'),('duration', '20 days'),('quantity', 30),

In [83]:
#given list of the strings print the last alphabet of every string inside the list.

list_str={"apple","cat","mouse","banana"}
list_ans=[]
for i in list_str:
    list_ans.append(i[-1])

    
print(list_ans)

['e', 'e', 't', 'a']

In [85]:
ist_str={"apple","cat","mouse","banana"}
set_ans=set()

for i in list_str:
    set_ans.add(i[-1])

    
print(list_ans)

['e', 'e', 't', 'a']

In [87]:
ist_str={"apple","cat","mouse","banana"}
dict_1={}
for i in list_str:
    dict_1[i]=i=[-1]

    
print(dict_1)

{'mouse': [-1], 'apple': [-1], 'cat': [-1], 'banana': [-1]}

In [13]:
#given the dict find the square of all the values of the dict and print it inside the list:
dict_2={"val_1":12,"val_2":23,"val_3":78}
squared_values=[]
for value in dict_2.values():
    squared_values.append(value **2)
#hints:
# run for loop in the values of dict.
# declare the empty list
# append the squared value into empty list.

In [17]:
dict_2={"val_1":12,"val_2":23,"val_3":78}
squared_values=[]
for value in dict_2.values():
    squared_values.append(value **2)
print(squared_values)

[144, 529, 6084]

In [ ]:
# write a python program that accepts a word from the user and reverse it.
#apple------->elppa

#hints:
# try to reverse the string with the help of slicing
# run the for loop on the str
# take the help of end for printing the values

In [ ]:
# write a python program that accepts a string and calculate the number of digits in it.
#hints:
#run for loop over string
#check with the help of string method
# make a count of it

In [ ]:
#write a program to print the number of days for the month entered by user.
#hints:
decalare one list of months that has 30days.
use conditional statement to solve this problem.

### range():
range syntax
range(starting number,ending number+1,jumps)

In [6]:
for i in range(1,10+1,2):
    print(f"the number {i}")

the number 1
the number 3
the number 5
the number 7
the number 9

In [14]:
#print the table to 2 with the help of range
for i in range(2,24+1,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24

In [18]:
for i in range(1,11):
    print(f" 3* {i} =", 3*i)

 3* 1 = 3
 3* 2 = 6
 3* 3 = 9
 3* 4 = 12
 3* 5 = 15
 3* 6 = 18
 3* 7 = 21
 3* 8 = 24
 3* 9 = 27
 3* 10 = 30

## enumerate():

In [37]:
list_1=[10,20,4050,3350] # enumerate helpsm us to find the index position of the respective objects present inside the iteratives.
for i in enumerate(list_1): #enumerate prints the ans in the format of tuple where 1st item is the index and 2nd item is the object.
    print(i[0] ,i[-1])#we can treat them same as that of the tuple data type.

0 10
1 20
2 4050
3 3350

In [39]:
set_1={12,23,34,45,"gojre"}
for i in enumerate(set_1):
    print(i)

(0, 34)
(1, 23)
(2, 'gojre')
(3, 12)
(4, 45)

## zip():

In [44]:
#if we want to run the for loop over two or more iterative at a time then we take help of zip():

list_n=[1,2,3,4,5]
list_m=[133,454,3543]

for i,j in zip(list_n,list_m):
    print(i,j)

1 133
2 454
3 3543

In [46]:
list_n=[1,2,3,4,5]
list_m=[133,454,3543]

for i,j in zip(list_n,list_m):
    print(f'the first value of {i},and the second value is {j}')

the first value of 1,and the second value is 133
the first value of 2,and the second value is 454
the first value of 3,and the second value is 3543

In [54]:
list_n=[1,2,3,4,5]
list_m=[133,454,3543]

for i,j in zip(list_n,list_m):
    print(f"the sum of {i} and {j} is : {i+j}")

the sum of 1 and 133 is : 134
the sum of 2 and 454 is : 456
the sum of 3 and 3543 is : 3546

In [60]:
list_n=[1,2,3,4,5]
list_m=[133,454,3543]
output=[]
for i,j in zip(list_n,list_m):
    output.append(i+j)
    
print(output)

[134, 456, 3546]

In [62]:
# calculate the cube of all the number from 1 to given.
num=int(input("please enter the number"))

for i in range(1,num+1):
    print(f"the cube of number {i} is {i**3}")

please enter the number 12

the cube of number 1 is 1
the cube of number 2 is 8
the cube of number 3 is 27
the cube of number 4 is 64
the cube of number 5 is 125
the cube of number 6 is 216
the cube of number 7 is 343
the cube of number 8 is 512
the cube of number 9 is 729
the cube of number 10 is 1000
the cube of number 11 is 1331
the cube of number 12 is 1728

## while loop

## print sum of all the number until user enters the number 0.

In [ ]:
num=int(input("please enter the number"))

total=0

while num!=0:
    total+=num
    num=int(input("please enter the next number"))


 print(total)

### infinite looping (disadvantage of while):
#### inifinte looping is nothing but when the condition of the while loop turns out to be true everytime ans we dont mention the exit statement.

##### x=10
##### while x==10:
##### print(x)

# for else and while else:

In [22]:
list_1=[10,20,30,40,50,60,70,80,99,200,453,667,8945,546443,3456534354,3453453535324,3453454354324345,345345345344]
for i in list_1:
    print(i)
    if i==3453453535324:
        break
else:
    print(40)

10
20
30
40
50
60
70
80
99
200
453
667
8945
546443
3456534354
3453453535324

In [24]:
list_5=["prudvi","achu",45,67,89,99,902]
for i in list_5:
    print(i)
    if i == 89:
        continue
else:
    print("this is my first continue code")

prudvi
achu
45
67
89
99
902
this is my first continue code

In [58]:
x=10
while x<=15:
    x+=1
    print(x)
    if x==14:
        break

else:
    print("hey")

11
12
13
14

## break

# write a program to check if a given number is a prime number .

In [ ]:
num_1=int(input("enter the value"))
if num_1<2:
    print("we cannot check for this number")
else:
    for  i in range(2,num_1):
        if num_1%i==0:
            print("not a prime number")
            break
    else:
        print("prime number")